.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.sobre {
  margin-right: 60rem;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.App-menu {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
}

.busca {
  height: 1.5rem;
  width: 13rem;
}

.images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.images img {
  border: 1px solid black;
  height: 20rem;
  width: 30rem;
  -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}

.images a:hover img {
  -webkit-transform: scale(1.1);
 transform: scale(1.2);
}

footer {
  position: absolute;
  bottom: 0;
  margin-top: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid black;
}

a {
  color: black;
  text-decoration: none;
}
